@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for table containers */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
